@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  :root {
    --background: 0 0% 100%; /* background-white */
    --foreground: 0 0% 12%; /*primary-text*/
    --muted: 233 76% 94%; /* state-active (#E2E5FB) used for active dropdown, in range of calendar */
    --muted-foreground: 200 0% 33%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 12%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 12%;
    --border: 231 73% 84%; /*border - components*/
    --input: 231 73% 84%; /*border - components*/
    --primary: 230 56% 44%; /* button primary #3146B0 */
    --primary-foreground: 0 0% 100%; /* white */
    --secondary: 232.8 75.76% 93.53%;
    --secondary-foreground: 0 0% 44%; /*text-secondary*/
    --accent: 233 100% 98%; /* State-Hover used in hover effect of tables, dropdowns and buttons */
    --accent-foreground: 230.08 56.44% 44.12%;
    --destructive: 0 100% 97%; /* background-red (#FFEFEF) */
    --destructive-foreground: 0 98% 54%; /*text red (#FD1717) for errors*/
    --ring: 231 73% 84%; /*border -components*/
    --radius: 0.5rem;
    --neutral-gray: 0 0% 94%; /* border-sections used for gray borders*/
    --green: 120 100% 97%; /* background-green (#EFFFEF) used for success bg */
    --green-foreground: 119 100% 31%; /* text-green (#03A000) used for success, money and in some graphs*/
    --chart-magenta: 295 100% 52%; /* pink (#EB08FF) for line graph*/
    --section: 240 60% 99%; /* Background/Section (#FBFBFE) used for some card headers and sections */
    --chart-1: 230 56% 44%;
    --chart-2: 231 73% 84%;
    --chart-3: 210 87% 76%;
    --chart-4: 210 100% 40%;
    --chart-5: 210 100% 18%;
    --chart-6: 225 100% 20%; /* #001999 */
    --chart-7: 220 100% 30%; /* #003399 */
    --chart-8: 205 100% 40%; /* #004C99 */
    --chart-9: 200 100% 40%; /* #006699 */
    --chart-10: 190 100% 45%; /* #007F99 */
    --chart-11: 225 100% 35%; /* #0019B2 */
    --chart-12: 210 100% 40%; /* #0033B2 */
    --chart-13: 200 100% 50%; /* #004CB2 */
    --chart-14: 210 100% 45%; /* #0066B2 */
    --chart-15: 210 100% 50%; /* #007FB2 */
    --chart-16: 190 100% 55%; /* #00B2E5 */
    --chart-17: 200 100% 60%; /* #0019E5 */
    --chart-18: 210 100% 45%; /* #0033E5 */
    --chart-19: 210 100% 50%; /* #004CE5 */
    --chart-20: 210 100% 50%; /* #0066E5 */
    --chart-21: 210 100% 60%; /* #007FE5 */
    --chart-22: 210 100% 60%; /* #0099E5 */
    --chart-23: 190 100% 65%; /* #00B2E5 */
    --chart-24: 250 100% 40%; /* #0019FF */
    --chart-25: 225 100% 15%; /* #0000FF */
    --chart-26: 225 100% 18%; /* #0000E5 */
    --chart-27: 220 100% 20%; /* #0000CC */
    --chart-28: 210 100% 30%; /* #0000B2 */
    --chart-29: 210 100% 30%; /* #000099 */
    --chart-30: 210 100% 20%; /* #00007F */
    --chart-31: 210 100% 15%; /* #000066 */
    --chart-32: 210 100% 10%; /* #00004C */
    --chart-33: 210 100% 8%; /* #000033 */
    --chart-34: 225 100% 25%; /* #0033FF */
    --chart-35: 210 100% 35%; /* #004CFF */
    --chart-36: 210 100% 40%; /* #0066FF */
    --chart-37: 210 100% 50%; /* #007FFF */
    --chart-38: 210 100% 60%; /* #0099FF */
    --chart-39: 190 100% 65%; /* #00B2FF */
    --chart-40: 250 100% 50%; /* #1933FF */
    --chart-41: 210 100% 55%; /* #3366FF */
    --chart-42: 225 100% 70%; /* #4C99FF */
    --chart-43: 200 100% 75%; /* #66CCFF */
    --chart-44: 240 100% 80%; /* #00192F */
    --chart-45: 210 100% 35%; /* #0044E5 */
    --chart-46: 210 100% 25%; /* #0099E5 */
    --chart-47: 190 100% 35%; /* #0CEAFF */
    --chart-48: 190 100% 65%; /* #00B2FF */
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 233 100% 98%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 0 0% 94%;
    --sidebar-ring: 0 0% 94%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(231 73% 84%) /*border -components*/;
  border-radius: 10px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 1px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #bac3f4;
  border-radius: 8px;
}

/* Scrollbar thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #bac3f4 #ffffff;
}

.mx-scrollcontainer-open .plus-icon {
  transform: rotate(180deg);
  transition: all 0.2s ease-out;
}
